.w {
  width: 100%;
  background-color: red;
}
.btn1 {
  width: 400px;
}

* {
  font-family: sans-serif;
}

.div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
