.w {
  width: 100%;
  background-color: red;
}
.btn1 {
  width: 400px;
}

* {
  font-family: sans-serif;
}

.active {
  color: white;
  text-decoration: none;
}
.p {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}
